body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  position: relative;
  min-height: 100vh;
}
header {
  background-color: gray;
}
select {
  pointer-events: none;
  font-size: 10px;
  text-align: center;
}
#smallLogo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#contentContainer {
  padding-bottom: 10px;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #3a3a3a;
  width: 100%;
  color: #f7f7f2;
  text-align: center;
}

table,
td {
  border: 1px solid black;
  font-size: 10px;
}

#coordTable {
  text-align: center;
  pointer-events: none;
}

.colorCells {
  width: 10px;
  height: 10px;
}

#title {
  padding-right: 70px;
  color: #3a3a3a;
  height: fit-content;
}

nav,
form,
a,
.errorMessage,
input[type="radio"],
input[type="submit"] {
  display: none;
}
